terraform/.terraform*
terraform/terraform.tfvars
terraform/variables.tfvars

.notes
.env
node_modules
.DS_Store

frontend_v1
temp

backend/lambdas/training/lambda-alert.zip
backend/lambdas/training/lambda-auth.zip
backend/lambdas/training/lambda-email.zip
backend/lambdas/training/lambda-energy.zip
backend/lambdas/training/lambda-prediction.zip
backend/lambdas/training/lambda-presigned-url.zip
backend/lambdas/training/lambda-training.zip
backend/lambdas/training/lambda-trigger.zip

# scripts/cleanup.sh
scripts/squash-commits.sh
scripts/reset.sh
scripts/invalidation.sh
scripts/reset-endpoints.sh